/* Initialisation  */

*,
*::after,
*::before,
:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$primary-color: #d95e4c;

.text-brand-primary {
  color: $primary-color;
}

.bg-brand-primary {
  background-color: $primary-color;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

header{
  flex-direction: column;

  .topLogo {
    font-size: 20px;
    justify-content: center;
    align-items: center;
  
    .title {
      margin-top: 15px;
      margin-left: 5px;
    }
  }
  
  .navigation{
    ul{
      justify-content: space-evenly;
    }
  }

}



@media only screen and (min-width: 768px) {
  header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    .navigation {
      margin-top:15px;
  
      a{
        margin-right:50px;
      }
  
      a{
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
}
