/* Initialisation  */

*,
*::after,
*::before,
:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}
